@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Search Page";
}
<form asp-action="Results" method="post">
    <input name="search" type="text" placeholder="Search.." style="width:90%;">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>